<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Assignatures</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estil.css') }}">
</head>
<body>
    <header class="capçalera">
        <h1>Assignatures</h1>
        <p>Llista inicial d'assignatures.</p>
    </header>

    <main class="contingut">
        <section class="targeta">
            <h2>Assignatures de prova</h2>

            <table class = "taula-assignatures">
                <thead>
                    <tr>
                        <th>Codi</th>
                        <th>Títol</th>
                        <th>Semestre</th>
                        <th>Model d'avaluació</th>
                        <th>Descripció</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignatura in assignatures %}
                        <tr>
                            <td>{{ assignatura.codi }}</td>
                            <td>{{ assignatura.titol }}</td>
                            <td>{{ assignatura.semestre }}</td>
                            <td>{{ assignatura.model_avaluacio }}</td>
                            <td>{{ assignatura.descripcio }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>
